# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env

# Dataset
data/raw/*.xls
data/raw/*.xlsx
data/processed/*.csv

# Trained models
models/*.joblib
models/*.pkl

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log

# Generated datasets / split data
results/test_data.csv
results/train_test_split.csv
